@model ShopHub.Models.Dtos.OrderDto
@using  ShopHub.Services.Interface
@inject ISessionManager _sessionManager
@using  ShopHub.Services.Utilities.Enums

@{
    ViewData["Title"] = "OrderHistory";
    var name = _sessionManager.GetUserName();
    var userId = _sessionManager.GetUserId();
    var userTypeId = _sessionManager.GetUserTypeId();
}

<div class="sidenav">
    <ul class="leftSideUl">
        <li><h2 class="shopHubHeading">Shop Hub</h2></li>

        @if (userTypeId.Equals(Convert.ToInt32(UserTypeNames.Admin)))
        {
            <li><a asp-action="AllOrderHistory" asp-controller="Admin">All Order History</a></li>
            <li><a asp-action="LocationOrderHistory" asp-controller="Admin">Location By Order</a></li>
            <li><a asp-action="Location" asp-controller="Admin">Manage Locations</a></li>
            <li><a asp-action="ProductList" asp-controller="Admin">Manage Products</a></li>
        }
        else
        {
            <li><a asp-action="StorePlace" asp-controller="Customer">Stores</a></li>
            <li><a asp-action="OrderHistory" asp-controller="Customer">Orders History</a></li>
        }

    </ul>

</div>


<div class="main">
    <div class="text-center">

        <h1>Store Order History</h1>
        <hr>

        <div class="form-group">
            <label class="control-label"> Select Store Location</label>
            <select asp-for="LocationId" id="locationDropDown" onchange="populateOders();" class="form-control" asp-items="@(new SelectList(Model.Locations,"Id","Name"))"></select>
            <span asp-validation-for="LocationId" class="text-danger"></span>
        </div>


    </div>

</div>



@section scripts{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

 <script type="text/javascript">
     function populateOders() {
         var locationValue = $('#locationDropDown').val();

         $.get("/Admin/LocationBaseOrderData", { locationId: locationValue }).done(function (data) {

             debugger;
         });
     }
 </script>

}